<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cohesive.ddf.provider.pg.persistence.PostgresContentTypeMapper">
<!-- 
  <cache-ref namespace="com.cohesiveintegrations.provider.pg.persistence.QueryMapper" />
 -->
  <select id="getContentTypes" resultType="ddf.catalog.data.ContentTypeImpl">
    SELECT DISTINCT CATALOG_VERSION as version, CATALOG_DATATYPE as name from ddf.DDF_CATALOG_TAB ORDER BY CATALOG_DATATYPE, CATALOG_VERSION ASC
  </select>

</mapper>