<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cohesive.ddf.provider.pg.persistence.PostgresIngestMapper">
<!-- 
  <cache-ref namespace="com.cohesive.ddf.provider.pg.persistence.PostgresQueryMapper" />
 -->
  <insert id="createMetacard" parameterType="com.cohesive.ddf.provider.common.ProviderMetacard">
    INSERT into ddf.ddf_catalog_tab
       ( catalog_id,
         catalog_title,
         catalog_datatype,
         catalog_version,
         catalog_created_timestamp,
         catalog_modified_timestamp,
         catalog_effective_timestamp,
         catalog_expiration_timestamp,
         catalog_wkt_text,
         catalog_source_location,
         catalog_metadata,
         catalog_resource_uri,
         catalog_resource_size,
         catalog_thumbnail
       )
     VALUES
	       ( #{id},
	         #{title},
	         #{contentTypeName},
	         #{contentTypeVersion},
	         #{createdDate},
	         #{modifiedDate},
	         #{effectiveDate},
	         #{expirationDate},
	         #{location},
	         <choose>
	           <when test="location != null">
	             ST_GeomFromEWKT('SRID=4326;${location}'),
	           </when>
	           <otherwise>
	           	 NULL,
	           </otherwise>
	         </choose>
	         #{metadata, javaType=java.lang.String, typeHandler=com.cohesive.ddf.provider.common.types.XmlTypeHandler},
	         #{providerResourceURI},
	         #{resourceSize},
	         #{thumbnail}
	       )
  </insert>
  <!--  
  <insert id="batchCreateMetacard" parameterType="com.cohesiveintegrations.provider.domain.CreateMetacardRequest">
    INSERT into ${tableName}
       ( catalog_id,
         catalog_title,
         catalog_datatype,
         catalog_version,
         catalog_created_timestamp,
         catalog_modified_timestamp,
         catalog_effective_timestamp,
         catalog_expiration_timestamp,
         catalog_wkt_text,
         catalog_source_location,
         catalog_metadata,
         catalog_thumbnail
       )
     VALUES
       <foreach item="metacard" index="index" collection="metacards" open="" separator=" , " close="">
	       ( #{metacard.metacardId},
	         #{metacard.title},
	         #{metacard.datatype},
	         #{metacard.version},
	         #{metacard.createdDate},
	         #{metacard.postedDate},
	         #{metacard.infoCutOffDate},
	         #{metacard.validTilDate},
	         #{metacard.wkt},
	         <choose>
	           <when test="metacard.wkt != null">
	             ST_GeomFromEWKT('SRID=4326;${metacard.wkt}'),
	           </when>
	           <otherwise>
	           	 NULL,
	           </otherwise>
	         </choose>
	         #{metacard.document, javaType=org.w3c.dom.Document, typeHandler=com.cohesiveintegrations.provider.pg.types.XmlTypeHandler},
	         #{metacard.thumbnail}
	       )
       </foreach>
  </insert>
  -->
 
  
  <update id="updateMetacard" parameterType="com.cohesive.ddf.provider.common.ProviderMetacard">
    UPDATE ddf.ddf_catalog_tab set
         catalog_title = #{title},
         catalog_datatype = #{contentTypeName},
         catalog_version = #{contentTypeVersion},
         catalog_modified_timestamp = #{modifiedDate},
         catalog_effective_timestamp = #{effectiveDate},
         catalog_expiration_timestamp = #{expirationDate},
         <choose>
           <when test="location != null">
             catalog_wkt_text = #{location},
             catalog_source_location = ST_GeomFromEWKT('SRID=4326;${location}'),
           </when>
           <otherwise>
             catalog_wkt_text = NULL,
             catalog_source_location = NULL,
           </otherwise>
         </choose>
         catalog_metadata = #{metadata, javaType=java.lang.String, typeHandler=com.cohesive.ddf.provider.common.types.XmlTypeHandler},
         catalog_resource_uri = #{providerResourceURI},
	     catalog_resource_size = #{resourceSize},
         catalog_thumbnail = #{thumbnail}
         where catalog_id = #{id}
  </update>
  
    <update id="updateMetacardByURI" parameterType="com.cohesive.ddf.provider.common.UpdateByURIRequest">
    UPDATE ddf.ddf_catalog_tab set
         catalog_title = #{metacard.title},
         catalog_datatype = #{metacard.contentTypeName},
         catalog_version = #{metacard.contentTypeVersion},
         catalog_modified_timestamp = #{metacard.modifiedDate},
         catalog_effective_timestamp = #{metacard.effectiveDate},
         catalog_expiration_timestamp = #{metacard.expirationDate},
         <choose>
           <when test="metacard.location != null">
             catalog_wkt_text = #{metacard.location},
             catalog_source_location = ST_GeomFromEWKT('SRID=4326;${metacard.location}'),
           </when>
           <otherwise>
             catalog_wkt_text = NULL,
             catalog_source_location = NULL,
           </otherwise>
         </choose>
         catalog_metadata = #{metacard.metadata, javaType=java.lang.String, typeHandler=com.cohesive.ddf.provider.common.types.XmlTypeHandler},
         catalog_resource_uri = #{metacard.providerResourceURI},
	     catalog_resource_size = #{metacard.resourceSize},
         catalog_thumbnail = #{metacard.thumbnail}
         where catalog_resource_uri = #{updateByURIValue}
  </update>

  
  <delete id="deleteMetacards" parameterType="list">
    DELETE FROM ddf.ddf_catalog_tab where catalog_id IN
      <foreach item="id" index="index" collection="list"
	  open="(" separator="," close=")">
         #{id}
       </foreach>
  </delete>

  <delete id="deleteMetacardsByURI" parameterType="list">
    DELETE FROM ddf.ddf_catalog_tab where catalog_resource_uri IN
      <foreach item="uri" index="index" collection="list"
	  open="(" separator="," close=")">
         #{uri, javaType=java.net.URI, typeHandler=com.cohesive.ddf.provider.common.types.URITypeHandler}
       </foreach>
      
  </delete>
  

</mapper>